nav {
  position: fixed;
  top: 20px;
  left: 20px;
}

.flex-center {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}