html, body {
    height: 100%;
}

main {
    height: 100%;
}

.scenarioViewContainer {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scenarioViewNav {
    padding-bottom: 15px;
}

.scenarioDashboardViewMain {
    display: flex;
    width: 100%;
    gap: 15px;
    flex: 1;
    min-height: 0;
    overflow: auto;
}

.scenarioDashboardViewMain div {
    /* border: 1px solid black; */
    /* padding: 10px; */
    width: 100%;
}

.scenarioDashboardLeftSideView {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.scenarioDashboardLeftSideTopView {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space   between; */
}

.scenarioDashboardLeftSideTopView > div {
    /* padding: 10px; */
}

.scenarioDashboardLeftSideTopSubView {
    display: flex;
    gap: 15px;
}

.scenarioDashboardLeftSideTopSubView > div {
    /* padding: 10px 0px; */
}

.scenarioDashboardLeftSideBottomView {
    height: 20%;
}

.scenarioDashboardRightSideView {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.scenarioDashboardRightSideTopView {
    height: 50%;
}

.scenarioDashboardRightSideBottomView {
    height: 50%;
}

.vitalsBoxDisplayContainer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-self: flex-start;
    letter-spacing: 1px;
    border: 4px solid black;
}

.vitalsBoxDisplayContainer > div {
    display: flex;
    flex-direction: row;
}

.smallVitalsBoxDisplayContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
    /* align-self: flex-start; */
    padding: 20px;
}

.smallVitalsBoxDisplayType {
    width: 20%;
    font-weight: bold;
    font-size: small;
}

.smallVitalsBoxDisplayValue {
    width: 80%;
    font-size: xx-large;
    font-weight: bolder;
}